/target
.env
.vs/
/assets/reminders.json
/assets/userReplies.json
/assets/smite.json
.DS_Store
**/*/.DS_Store
/records
/config
/.idea
/assets/json/backup/emotes.json
/assets/common_settings.toml
google_credentials.json