/target
.env
.vs/
/persistence/channelSettings.json
/persistence/userRecords.json
/persistence/reminders.json
/persistence/userReplies.json
/persistence/config.json
/persistence/smite.json
.DS_Store
**/*/.DS_Store